.center {
  position: absolute;
  top: 25px;
  left: 25px;

  }

  .image{
    position: absolute;
    right :220px;
    top : 20px

  }
.paraA{
    position: absolute;
    top: 100px;    
    left: 30px;

}
.paraM{
    position: absolute;
    top: 130px;    
    left: 30px;

}
.buttons{
    position: absolute;
    top: 180px;    
    left: 30px;

}

.btn {
    width: 150px;
    height: 50px;
    font-size: 16px;
}